@import "./base.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  min-width: 336px;
  font-weight: normal;
}

@layer components {
  input,
  select,
  main {
    @apply dark:bg-dm-black dark:text-gray;
  }
  label,
  p {
    @apply dark:text-gray;
  }
  button {
    @apply shadow-md;
  }
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  @apply dark:bg-dm-black;
}

.leaflet-popup-close-button > span {
  @apply dark:text-gray;
}

.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
  @apply dark:text-gray dark:bg-dm-black dark:hover:text-dm-black;
}

@media (prefers-color-scheme: dark) {
  font-awesome-icon {
    --fa-inverse: white;
  }
}
