@import "./base.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  max-width: 1280px;
  margin: 0 auto;
  min-width: 336px;
  font-weight: normal;
}

@media (min-width: 1024px) {
  body {
    display: flex;
  }
}

@layer components {
  input,
  select,
  main {
    @apply dark:bg-dm-black dark:text-gray;
  }
  label,
  p {
    @apply dark:text-gray;
  }
  
}

@media (prefers-color-scheme: dark) {
  font-awesome-icon {
    --fa-inverse: black;
  }
}
